<header>
    <div class="branding">
        <a class="logo-wrapper" href="/">
            <img alt="Logo" class="logo" src="/graphics/logo/logo.svg"/>
        </a>
        <h1 lang="en">Lecture Book</h1>
    </div>
    <div class="menu">
        <div class="button-wrapper">
            <span class="button-secondary-background"></span>
            <button
                    aria-controls="primary-menu"
                    aria-expanded="false"
                    aria-haspopup="true"
                    aria-label="Website links"
                    class="button-toggle close"
                    id="menu-toggle"
            >
                <span aria-hidden="true" class="line" tabindex="-1"></span>
                <span aria-hidden="true" class="line" tabindex="-1"></span>
                <span aria-hidden="true" class="line" tabindex="-1"></span>
            </button>
        </div>
        <nav aria-expanded="false" aria-label="Primary navigation" class="primary-navigation close">
            <ul aria-labelledby="menu-toggle" id="primary-menu" role="menu">
                <li role="none">
                    <a href="/" role="menuitem" tabindex="-1">Αρχική</a>
                </li>
                <li role="none">
                    <a href="/profile" role="menuitem" tabindex="-1">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
    <span aria-hidden="true" class="header-border"></span>
</header>