<nav class="categories" aria-label="secondary-menu">
    <ul class="category-list">
        {{#each categories}}
            <li class="category" id="{{this.id}}">{{this.title}}</li>
        {{/each}}
    </ul>
</nav>