<article class="card">
    <h2 class="heading"> {{title}} </h2>
    <h3 class="heading"> {{category}} </h3>
    <h3 class="heading"> {{objectives}} </h3>
    <p class="descriprion"> {{description}} </p> 
</article>
